<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8"/>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/jquery.dialog.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css"/>
    <link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css"/>
</head>
<body class="welcomeBK">
    <div style="height: 384px;text-align: center;line-height: 384px;font-size: 49px; color: white;">
        <span> 欢迎使用后台管理系统</span>
    </div>
    <div>

    </div>
</body>
</html>